
<div>

    <table class="table table-striped">
        <tr>
            <th class="bg-success white">Pet Info</th>
        </tr>
        <tr>
            <td><input id="petName" type="text" ng-model="$ctrl.pet.name"></td>
        </tr>
        <tr>
            <td><input id="petBDay" type="text" ng-model="$ctrl.pet.birthDate"></td>
        </tr>
        <tr>
            <td><input id="petTypeName" type="text" ng-model="$ctrl.pet.type.name"></td>
        </tr>
    </table>

    <h3>
        Add Notes
    </h3>
    <textarea id="notesTA" class="form-control" cols="50" ng-model="$ctrl.pet.notes"></textarea>

    <!--Button should send back to owner list???-->
    <button ng-click="$ctrl.submitPetDetailsForm()" type="submit" ui-sref="owners">Save</button>

</div>
