
<div>

    <table class="table table-striped">
        <tr>
            <h3>
            <th class="bg-success white">Pet Info</th>
            </h3>
        </tr>
        <tr>
            <td><input id="petName" type="text" ng-model="$ctrl.pet.name"></td>
        </tr>
        <tr>
            <td><input id="petBDay" type="text" ng-model="$ctrl.pet.birthDate"></td>
        </tr>
        <tr>
            <td><input id="petTypeName" type="text" ng-model="$ctrl.pet.type.name"></td>
        </tr>
    </table>
</div>
<div class="bColor">
    <h3 class="titleOwner form">
        Add Notes
    </h3>
</div>
<div>
<textarea id="notesTA" class="form-control" cols="50" ng-model="$ctrl.pet.notes"></textarea>

    <!--Button should send back to owner list???-->
    <button ng-click="$ctrl.submitPetDetailsForm()" type="submit" ui-sref="owners">Save</button>

<table id="prescripts">

    <tr id="presTR" ng-repeat="prescription in $ctrl.prescriptions">
        <td>{{prescription.medication}}</td>
        <td>{{prescription.amount}}</td>
        <td>{{prescription.instructions}}</td>
        <td>{{prescription.datePrinted}}</td>
    </tr>
</table>

</div>

