<h2 id="BillHistoryTitle">Bill History</h2>

<form onsubmit="void(0)" style="max-width: 20em; margin-top: 2em; margin-bottom: 2em;">
    <div class="billSearchBar">
        <input type="text" placeholder="Search Filter..." class="form-control" ng-model="$ctrl.query"/>
    </div>
</form>
<div class="addBillStyleButton">
    <a ui-sref="billHistory">
    <a class="add-bill-button btn btn-success" href="http://localhost:8080/#!/bills/details">Add A Bill</a>
    </a>
</div>

<table id="TableBill" class="table table-striped">
    <thead>
    <tr>
        <th>Bill ID</th>
        <th>Owner
            <span ng-switch="$ctrl.sortCol">
                <span id="sortTestUp1" ng-switch-when="1up" ng-click="$ctrl.sortColBackwards(1)"><i style="min-width: 16px" class="fa-solid fa-chevron-down"></i></span>
                <span id="sortTestDown1" ng-switch-when="1down" ng-click="$ctrl.sortColForwards(1)"><i style="min-width: 16px" class="fa-solid fa-chevron-up"></i></span>
                <span id="sortTestDefault1" ng-switch-default ng-click="$ctrl.sortColForwards(1)"><i style="min-width: 16px" class="fa-solid fa-minus"></i></span>
            </span>
        </th>
        <th>Visit Type
            <span ng-switch="$ctrl.sortCol">
                <span id="sortTestUp2" ng-switch-when="2up" ng-click="$ctrl.sortColBackwards(2)"><i style="min-width: 16px" class="fa-solid fa-chevron-down"></i></span>
                <span id="sortTestDown2" ng-switch-when="2down" ng-click="$ctrl.sortColForwards(2)"><i style="min-width: 16px" class="fa-solid fa-chevron-up"></i></span>
                <span id="sortTestDefault2" ng-switch-default ng-click="$ctrl.sortColForwards(2)"><i style="min-width: 16px" class="fa-solid fa-minus"></i></span>
            </span>
        </th>
        <th>Amount
            <span ng-switch="$ctrl.sortCol">
                <span id="sortTestUp3" ng-switch-when="3up" ng-click="$ctrl.sortColBackwards(3)"><i style="min-width: 16px" class="fa-solid fa-chevron-down"></i></span>
                <span id="sortTestDown3" ng-switch-when="3down" ng-click="$ctrl.sortColForwards(3)"><i style="min-width: 16px" class="fa-solid fa-chevron-up"></i></span>
                <span id="sortTestDefault3" ng-switch-default ng-click="$ctrl.sortColForwards(3)"><i style="min-width: 16px" class="fa-solid fa-minus"></i></span>
            </span>
        </th>
        <th>Date/Time
            <span ng-switch="$ctrl.sortCol">
                <span id="sortTestUp4" ng-switch-when="4up" ng-click="$ctrl.sortColBackwards(4)"><i style="min-width: 16px" class="fa-solid fa-chevron-down"></i></span>
                <span id="sortTestDown4" ng-switch-when="4down" ng-click="$ctrl.sortColForwards(4)"><i style="min-width: 16px" class="fa-solid fa-chevron-up"></i></span>
                <span id="sortTestDefault4" ng-switch-default ng-click="$ctrl.sortColForwards(4)"><i style="min-width: 16px" class="fa-solid fa-minus"></i></span>
            </span>
        </th>
        <th>Details</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tr id="billId" ng-repeat="bill in $ctrl.billHistory | filter:$ctrl.query track by bill.billId">
        <td id="BillIdColumn">
            #{{bill.billId}}
        </td>
        <td class="t-id{{bill.billId}}" id="ownerName" ng-mouseenter="$ctrl.show($event, bill.billId)"
            ng-mouseleave="$ctrl.hide($event,bill.billId)">
            {{bill.ownerDetails.firstName}} {{bill.ownerDetails.lastName}}
            <!--Hover pop up-->
            <div class="billModal m{{bill.billId}} modalOff container w-25">
                <div class="row">
                    <div class="col-6">
                        <b>Address:</b>
                        {{bill.ownerDetails.address}}, {{bill.ownerDetails.city}}
                    </div>
                    <div class="col-6">
                        <b>Pets:</b>
                        <span ng-repeat="pet in bill.ownerDetails.pets track by pet.id">
                        {{pet.name}}<br>
                    </span>
                    </div>
                </div>
            </div>

        </td>
        <td>{{bill.visitType}}</td>
        <td>{{bill.amount}}</td>
        <td>{{bill.date | date:'medium'}}</td>
        <td><a class="newBtn btn btn-default" href="http://localhost:8080/#!/bills/details/{{bill.billId}}">Get Details</a></td>
        <td><a class="btn btn-danger" href="javascript:void(0)" ng-click="deleteBill(bill.billId)">Delete Bill</a></td>
    </tr>
</table>