<h2 id="BillHistoryTitle">Bill History</h2>

<form onsubmit="void(0)" style="max-width: 20em; margin-top: 2em; margin-bottom: 2em;">
    <div class="form-group">
        <input type="text" placeholder="Search Filter..." class="form-control" ng-model="$ctrl.query"/>
    </div>
</form>

<table id="bill" class="table table-striped">
    <thead>
        <tr>
            <th>Bill ID</th>
            <th>Owner</th>
            <th>Visit Type</th>
            <th>Amount</th>
            <th>Date/Time</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tr id="billId" ng-repeat="bill in $ctrl.billHistory | filter:$ctrl.query track by bill.billId">
        <td id="BillIdColumn">
            #{{bill.billId}}
        </td>
        <td class="t-id{{bill.billId}}" id="ownerName" ng-mouseenter="$ctrl.show($event, bill.billId)"
            ng-mouseleave="$ctrl.hide($event,bill.billId)">
            {{bill.ownerDetails.firstName}} {{bill.ownerDetails.lastName}}
            <!--Hover pop up-->
            <div class="billModal m{{bill.billId}} modalOff container w-25">
                <div class="row">
                    <div class="col-6">
                        <b>Address:</b>
                        {{bill.ownerDetails.address}}, {{bill.ownerDetails.city}}
                    </div>
                    <div class="col-6">
                        <b>Pets:</b>
                        <span ng-repeat="pet in bill.ownerDetails.pets track by pet.id">
                        {{pet.name}}<br>
                    </span>
                    </div>
                </div>
            </div>

        </td>
        <td>{{bill.visitType}}</td>
        <td>{{bill.amount}}</td>
        <td>{{bill.date | date:'medium'}}</td>
        <td><a class="newBtn btn btn-default" href="http://localhost:8080/#!/bills/details/{{bill.billId}}">Get Details</a></td>
        <td><a class="btn btn-danger" href="javascript:void(0)" ng-click="deleteBill(bill.billId)">Delete Bill</a></td>
    </tr>
</table>

<a ui-sref="billHistory">
    <button class="add-bill-button btn btn-success">Add A Bill</button>
</a>