<!-- Style Loading START-->
<link rel="stylesheet" href="/css/visitsCalendarStyle.css" xmlns="http://www.w3.org/1999/html"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap">
<link rel="stylesheet" href="/css/addVisitFormStyle.css" type="text/css" />
<!-- Style Loading END -->

<script>

    //Format the current month selected into a format that will be accepted by the api gateway route
    // const getFormatPractitionerIdAndMonth = () => {
    //     let lastDayOfMonth = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();
    //     let month = date.getMonth() + 1;
    //
    //     if (month < 10) {
    //         month = "0" + month;
    //     }
    //
    //     let startDate = date.getFullYear() + "-" + month + "-01";
    //     let endDate = date.getFullYear() + "-" + month + "-" + lastDayOfMonth;
    //
    //     return $("#selectedVet :selected").attr("value") + "," + startDate + "," + endDate;
    // }

</script>

<h2>Visits</h2>

<!--<form id="visitForm" ng-submit="$ctrl.submit()" onsubmit="return false;">-->
<!--    <div class="form-group">-->
<!--        <label for="selectedVet">Practitioner</label>-->
<!--        <select id="selectedVet" ng-model="$ctrl.practitionerId" ng-change="$ctrl.loadVetInfo();$ctrl.getVisitsForPractitionerIdAndMonth()" required>-->
<!--            <option disabled selected value>Please Select A Veterinarian</option>-->
<!--            <option ng-repeat="p in $ctrl.vets" data-target="{{p.firstName}} {{p.lastName}}" value="{{p.vetId}}">{{p.firstName}} {{p.lastName}}</option>-->
<!--        </select>-->
<!--    </div>-->

<!--    <div class="form-group" style="margin-top: 6px; margin-bottom: 6px">-->
<!--        <button id="submit_button" ng-click="$ctrl.showConfirmationModal($event)" class="btn btn-default" type="button" style="border: 1px solid gray; border-radius: 4px">Check Visits</button>-->
<!--    </div>-->
<!--</form>-->

<div class="form-group">
    <label for="selectedVet">Practitioner</label>
<!--    <select id="selectedVet" ng-model="$ctrl.practitionerId" ng-change="$ctrl.loadVetInfo();$ctrl.getVisitsForPractitionerIdAndMonth()" required>-->
    <select id="selectedVet" ng-model="$ctrl.practitionerId" ng-change="$ctrl.loadVetInfo()" required>
        <option disabled selected value>Please Select A Veterinarian</option>
        <option ng-repeat="p in $ctrl.vets" data-target="{{p.firstName}} {{p.lastName}}" value="{{p.vetId}}">{{p.firstName}} {{p.lastName}}</option>
    </select>

    <br>

    <label for="vetPhoneNumber" style="margin-top: 10px;">Phone Number:</label>
    <input id="vetPhoneNumber" disabled="disabled" style="background-color: #dbd9ce;"/>
    <br>
    <label for="vetEmailAddress">Email Address:</label>
    <input id="vetEmailAddress" disabled="disabled" style="background-color: #dbd9ce;"/>
    <br>
    <label for="vetSpecialties">Specialties:</label>
    <input id="vetSpecialties" disabled="disabled" style="background-color: #dbd9ce;"/>
    <br>
    <label for="vetWorkdays">Workdays:</label>
    <input id="vetWorkdays" disabled="disabled" style="background-color: #dbd9ce;" onchange=selectChanged() />
</div>


<!--    Add practitioner name-->
<!--<h3 style="margin-top: 12px">Practitioner</h3>-->
<!--<div>-->
<!--    <p>{{$ctrl.vet.name}}</p>-->
<!--</div>-->

<!-- Notifications Container-->
<!--<h3 style="margin-top: 12px">Notifications</h3>-->
<!--<div id="alertsContainer" class="form-group"></div>-->

<h3 style="margin-top: 18px">Upcoming Visits</h3>
<table class="table">
    <thead>
    <tr>
        <!--        ADD PET TYPE        -->
        <!--        ADD PET NAME        -->
        <th> <button class="btn btn-default" id="sortByDateButtonUpcomingVisits" ng-click="$ctrl.SortTableByDate(true)" style="color: white">Sort by date ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByDescButtonUpcomingVisits" ng-click="$ctrl.SortTableByDesc(true)" style="color: white">Sort by description ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByOwnerButtonUpcomingVisits" ng-click="$ctrl.SortTableByOwner(true)" style="color: white">Sort by owner ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByStatusButtonUpcomingVisits" ng-click="$ctrl.SortTableByStatus(true)" style="color: white">Sort by status ⇅</button> </th>
<!--        <th style="text-align:center; vertical-align:middle"> <label>Cancel</label> </th>-->
<!--        <th style="text-align:center; vertical-align:middle"> <label>Edit</label> </th>-->
<!--        <th style="text-align:center; vertical-align:middle"> <label>Delete</label> </th>-->
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="v in $ctrl.upcomingVisits" data-index="{{$index}}" data-table-name="upcomingVisits">
            <td class="col-sm-2">{{v.date}}</td>
            <td style="white-space: pre-line">{{v.description}}</td>
            <td style="white-space: pre-line">{{$ctrl.getOwnerName(v.ownerId)}}</td>
            <td class="status-text" style="white-space: pre-line">{{$ctrl.getStatus(v.status, v.date)}}</td>
<!--            <td style="text-align:center; vertical-align:middle"><button class="btn btn-default cancel-button" type="button" style="background-color: orangered; color: white" ng-click="$ctrl.showConfirmationModal($event, v.visitId, v.status, v.practitionerId, v.date, v.description)">{{$ctrl.setCancelButtonText(v.status)}}</button></td>-->
<!--            <td style="text-align:center; vertical-align:middle"><button class="btn btn-default" type="button" style="background-color: royalblue; color: white" ng-click="$ctrl.switchToUpdateForm($event, v.practitionerId, v.date, v.description, v.visitId, v.status)">Edit Visit</button></td>-->
<!--            <td style="text-align:center; vertical-align:middle"><button class="btn btn-danger" type="button" ng-click="$ctrl.showConfirmationModal($event, v.visitId)">Delete visit</button></td>-->
        </tr>
    </tbody>
</table>

<h3 style="margin-top: 6px">Previous Visits</h3>
<table class="table">
    <thead>
        <tr>
            <th> <button class="btn btn-default" id="sortByDateButtonPreviousVisits" type="button" ng-click="$ctrl.SortTableByDate(false)" style="color: white">Sort by date ⇅</button> </th>
            <th> <button class="btn btn-default" id="sortByDescButtonPreviousVisits" type="button" ng-click="$ctrl.SortTableByDesc(false)" style="color: white">Sort by description ⇅</button> </th>
            <th> <button class="btn btn-default" id="sortByOwnerButtonPreviousVisits" type="button" ng-click="$ctrl.SortTableByOwner(false)" style="color: white">Sort by owner ⇅</button> </th>
            <th> <button class="btn btn-default" id="sortByStatusButtonPreviousVisits" type="button" ng-click="$ctrl.SortTableByStatus(false)" style="color: white">Sort by status ⇅</button>  </th>
<!--            <th style="text-align:center; vertical-align:middle"> <label>Edit</label> </th>-->
<!--            <th style="text-align:center; vertical-align:middle"> <label>Delete</label> </th>-->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="v in $ctrl.previousVisits" data-index="{{$index}}" data-table-name="previousVisits">
            <td class="col-sm-2">{{v.date}}</td>
            <td style="white-space: pre-line">{{v.description}}</td>
            <td style="white-space: pre-line">{{$ctrl.getOwnerName(v.ownerId)}}</td>
            <td class="status-text" style="white-space: pre-line">{{$ctrl.getStatus(v.status, v.date)}}</td>
<!--            <td style="text-align:center; vertical-align:middle"><button class="btn btn-default" style="background-color: royalblue; color: white" ng-click="$ctrl.switchToUpdateForm($event, v.practitionerId, v.date, v.description, v.visitId, v.status)">Edit Visit</button></td>-->
<!--            <td style="text-align:center; vertical-align:middle"><button class="btn btn-danger" ng-click="$ctrl.showConfirmationModal($event, v.visitId)">Delete visit</button></td>-->
        </tr>
    </tbody>
</table>