<!-- Style Loading START-->
<link rel="stylesheet" href="/css/visitsCalendarStyle.css" xmlns="http://www.w3.org/1999/html"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap">
<link rel="stylesheet" href="/css/addVisitFormStyle.css" type="text/css" />
<!-- Style Loading END -->

<!-- Removing this script for calendar-->
<script>

 let date = new Date();


// let selectedDate = date.getDate();
// let selectedTime;
// let availableDays = [];
// <!--    let availableTime = [];-->
// <!--    let vetAvailabilityStr;-->
// <!--    let nameOnCalenderStr;-->
// <!--    let availabilities = [];-->
// <!--    let count = 11;-->
// <!--    let selday=false;-->
// <!--    let ButtonClicked=false;-->
//
</script>


<div class="mydiv">
    <h2>Visits By Practitioner</h2>
</div>

<!--<form id="visitForm" ng-submit="$ctrl.submit()" onsubmit="return false;">-->
<form id="visitForm" onsubmit="return false;">
    <br>
    <div class="form-group">
        <label for="selectedVet">Practitioner</label>
<!--        <input type="text" id="option1" ng-model="testfilter" value="{{option1}}">-->
        <select id="selectedVet" ng-model="$ctrl.practitionerId" ng-change="$ctrl.loadVetInfo();" required>
            <option disabled selected value>Please Select A Veterinarian</option>
            <option ng-repeat="p in $ctrl.vets" data-target="{{p.firstName}} {{p.lastName}} " value="{{p.vetId}}">{{p.firstName}} {{p.lastName}}</option>
        </select>
        <br>
        <label for="vetPhoneNumber" style="margin-top: 10px;">Phone Number:</label>
        <input id="vetPhoneNumber" disabled="disabled" style="background-color: #dbd9ce;"/>
        <br>
        <label for="vetEmailAddress">Email Address:</label>
        <input id="vetEmailAddress" disabled="disabled" style="background-color: #dbd9ce;"/>
        <br>
        <label for="vetSpecialties">Specialties:</label>
        <input id="vetSpecialties" disabled="disabled" style="background-color: #dbd9ce;"/>
        <br>
        <label for="vetWorkdays">Workdays:</label>
        <input id="vetWorkdays" disabled="disabled" style="background-color: #dbd9ce;" onchange=selectChanged() />
    </div>
</form>

<h3 style="margin-top: 18px">Upcoming Visits</h3>
<table class="table">
    <thead>
    <tr>
        <th> <button class="btn btn-default" id="sortByDateButtonUpcomingVisits" ng-click="$ctrl.SortTableByDate(true)" style="color: white">Sort by date ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByDescButtonUpcomingVisits" ng-click="$ctrl.SortTableByDesc(true)" style="color: white">Sort by description ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByVetButtonUpcomingVisits" ng-click="$ctrl.SortTableByOwner(true)" style="color: white">Sort by owner ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByStatusButtonUpcomingVisits" ng-click="$ctrl.SortTableByStatus(true)" style="color: white">Sort by status ⇅</button> </th>
<!--        <th style="text-align:center; vertical-align:middle"> <label>Cancel</label> </th>-->
<!--        <th style="text-align:center; vertical-align:middle"> <label>Edit</label> </th>-->
<!--        <th style="text-align:center; vertical-align:middle"> <label>Delete</label> </th>-->
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="v in $ctrl.upcomingVisits" data-index="{{$index}}" data-table-name="upcomingVisits">
            <td class="col-sm-2">{{v.date}}</td>
            <td style="white-space: pre-line">{{v.description}}</td>
            <td style="white-space: pre-line">{{$ctrl.getPractitionerName(v.practitionerId)}}</td>
            <td class="status-text" style="white-space: pre-line">{{$ctrl.getStatus(v.status, v.date)}}</td>
<!--            <td style="text-align:center; vertical-align:middle"><button class="btn btn-default cancel-button" type="button" style="background-color: orangered; color: white" ng-click="$ctrl.showConfirmationModal($event, v.visitId, v.status, v.practitionerId, v.date, v.description)">{{$ctrl.setCancelButtonText(v.status)}}</button></td>-->
<!--            <td style="text-align:center; vertical-align:middle"><button class="btn btn-default" type="button" style="background-color: royalblue; color: white" ng-click="$ctrl.switchToUpdateForm($event, v.practitionerId, v.date, v.description, v.visitId, v.status)">Edit Visit</button></td>-->
<!--            <td style="text-align:center; vertical-align:middle"><button class="btn btn-danger" type="button" ng-click="$ctrl.showConfirmationModal($event, v.visitId)">Delete visit</button></td>-->
        </tr>
    </tbody>
</table>

<h3 style="margin-top: 6px">Previous Visits</h3>
<table class="table">
    <thead>
    <tr>
        <th> <button class="btn btn-default" id="sortByDateButtonPreviousVisits" type="button" ng-click="$ctrl.SortTableByDate(false)" style="color: white">Sort by date ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByDescButtonPreviousVisits" type="button" ng-click="$ctrl.SortTableByDesc(false)" style="color: white">Sort by description ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByVetButtonPreviousVisits" type="button" ng-click="$ctrl.SortTableByOwner(false)" style="color: white">Sort by owner ⇅</button> </th>
        <th> <button class="btn btn-default" id="sortByStatusButtonPreviousVisits" type="button" ng-click="$ctrl.SortTableByStatus(false)" style="color: white">Sort by status ⇅</button>  </th>
<!--        <th style="text-align:center; vertical-align:middle"> <label>Edit</label> </th>-->
<!--        <th style="text-align:center; vertical-align:middle"> <label>Delete</label> </th>-->
    </tr>
    </thead>
    <tbody>

        <tr ng-repeat="v in $ctrl.previousVisits" data-index="{{$index}}" data-table-name="previousVisits">
            <td class="col-sm-2">{{v.date}}</td>
            <td style="white-space: pre-line">{{v.description}}</td>
            <td style="white-space: pre-line">{{$ctrl.getPractitionerName(v.practitionerId)}}</td>
            <td class="status-text" style="white-space: pre-line">{{$ctrl.getStatus(v.status, v.date)}}</td>
<!--            <td style="text-align:center; vertical-align:middle"><button class="btn btn-default" style="background-color: royalblue; color: white" ng-click="$ctrl.switchToUpdateForm($event, v.practitionerId, v.date, v.description, v.visitId, v.status)">Edit Visit</button></td>-->
<!--            <td style="text-align:center; vertical-align:middle"><button class="btn btn-danger" ng-click="$ctrl.showConfirmationModal($event, v.visitId)">Delete visit</button></td>-->
        </tr>

    </tbody>
</table>