<div>
<h2 id="BillDetailsTitle">Bill Details: </h2>
    <br><br>
</div>

    <table class="table table-striped" id="details">
        <tr>
            <td id="BillId">Bill Id:{{$ctrl.bills.billId}}</td>
        </tr>
        <tr>
            <td id="BillCost" >Price:{{$ctrl.bills.amount}}</td>
        </tr>
        <tr>
            <td id="BillVisitType">
                <label>Visit Type:</label>
            <select ng-model="$ctrl.selectedVisitType" onchange=displayOptions()>
                <option value="Examinations">Examinations</option>
                <option value="Injury">Injury</option>
                <option value="Medical">Medical</option>
                <option value="Chronic">Chronic</option>
                <option value="Consultations">Consultations</option>
                <option value="Operations">Operations</option>
            </select>
            </td>
        </tr>
        <tr>
            <td id="BillDate" class="ng-binding">Date/Time:</td>
        </tr>
        <tr id="BillOwner">
            <td ><label>Owners: </label><select ng-options="owner.firstName + ' ' + owner.lastName for owner in $ctrl.owners track by owner.id" ng-model="$ctrl.selectedOwner"></select>
            <label>  Pet: </label><select ng-options="pet.name for pet in $ctrl.selectedOwner.pets track by pet.id" ng-model="$ctrl.selectedPet"></select></td>
        </tr>
        <tr>
            <td id="BillVet"><label>Vet: </label><select ng-options="vet.firstName + ' ' + vet.lastName for vet in $ctrl.vets track by vet.vetId" ng-model="$ctrl.selectedVet"></select></td>
        </tr>
    </table>

<div id="buttons">
    <a ui-sref="saveBill">
        <a href="http://localhost:8080/#!/bills" id="saveBillButton" class="save-bill-button btn btn-success" ng-click="$ctrl.submitBillDetailsForm()" type="submit">Save</a>
    </a>
    <a ui-sref="printBill">
        <a class="print-bill-button btn btn-success" ng-click="$ctrl.printPage()" type="print">Print</a>
    </a>
</div>
